<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{frags :: head('Report a Sighting')}"></head>
<body>
<header th:replace="~{frags :: logo}"></header>

<div class="form">
    <img th:src="@{/img/__${squirrelObj.imageFileName}__}" th:alt="${squirrelObj.commonName}">
    <br>
    <h3 th:text="|Tell us about your ${squirrelObj.commonName} sighting|"></h3>
    <br>

    <form method="post" th:action="@{/save}" th:object="${theSighting}">
        <input type="hidden" th:field="*{squirrelId}">
        <label for="spotter">Name of Spotter</label>
        <span th:if="${#fields.hasErrors('spotterName')}" th:errors="*{spotterName}" class="error">ERROR</span>

        <br>
        <input type="text" id="spotter" th:field="*{spotterName}">
        <br>

        <label for="location">Location</label>
        <br>
        <select id="location" th:field="*{location}">
            <option th:each="loc : ${locationList}"
                    th:value="${loc.id}"
                    th:text="|${loc.name} (${loc.country})|">LOCATION
            </option>
        </select>

        <br>

        <label for="count">How many did you spot?</label>
        <br>
        <input type="number" id="count" th:field="*{count}">
        <span class="error" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">ERROR</span>

        <br>

        <input type="submit" value="Report Sighting">
    </form>
</div>

</body>
</html>